.title{
    text-align: center;
    margin-bottom: 10px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    margin-top: 10px;
    width: 310px;
    display: flex;
    border: 1px solid  rgb(193, 98, 253) ;
}
.text{
    text-align: right;
}
.item_image{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.item_detail{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.item_detail h3{
    text-align: center;
}
.item_detail__prices_menu_quentity{
    display: flex;
    align-self: center;
    align-items: center;
    
}
.item_detail__prices_menu_quentity_span{
    margin-right: 15px;
}
.item_detail__prices_menu button{
    margin-right: 5px;
    margin-left: 5px;
    background-color: #ff4980;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
.division{
    width: 300px;
    border: 3px solid  rgb(193, 98, 253);
    margin-top: 10px;
    margin-bottom: 10px;
}
.total{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.info_form,.info{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.input{
    color: white;
    font-weight: 300;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff4980;
    font-size: 1.25rem;
    margin-top: 5px;
}
.card_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 310px;
    height: 200px;
    background-color: rgb(0, 49, 165);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.card_chip{
    width: 90px;
    height: 40px;
}
.card_title{
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-end;
}
.card_number{
    font-size: 1.5rem;
    align-self: center;
}
.card_month{
    margin-top: 10px;
    align-self: flex-end;
}
.card_name{
    font-size: 1.2rem;
    margin-left: 15px;
}
.card_strip{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: black;
}
.card_container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_signature{
    width: 170px;
    height: 30px;
    background-color: white;
    margin-right: 5px;
}
.card_cvc{
    padding: 4px;
    background-color: white;
    color: black;
}
.buy{
    margin-top: 40px;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    background-color: #ff4980;
    border:none
}
@media (width>=600px) {
    .item,.total{
        width: 400px; 
    }
    .division{
        width: 450px;
       
    }
}