.ShoppingCart{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    position: relative;
}
  
.ShoppingCart__counter{
    position: absolute;
    border-radius: 50%;
    background-color: #ff4980;
    color: white;
    padding: 0.25rem;
    top: -0.5rem;
    left: -0.25rem;
    z-index: 1;
    width: 0.8rem;
    height: 0.8rem;
    font-size: 0.5rem;
}
    
.ShoppingCart__counter > svg{
    width: 1.25rem;
    height: 1.25rem;
    fill: white;
}
.ShoppingCart__items{
    position: absolute;
    background: black;
    border: 1px solid white;
    border-radius: 8px;
    right: 0;
    max-width: 320px;
    min-width: 250px;
    padding: 1rem;
}
.ShoppingCart__items_item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(144, 153, 227);
    padding: 3px;

}
.ShoppingCart__items_item_container {
    padding-right: 3px;
    flex-grow: 1;
}
.ShoppingCart__items_item_button{
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 20px;
}
.ShoppingCart__items_item_button:hover{
    background-color: red;
    color: black;
}
.ShoppingCart__buyButton{
    margin-top: 5px;
    background: #ff4980;
    color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}